h1 {
    color: brown;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
}

h2, h3, h4, h5
{
    color: red;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    margin: 70px;
}

.explain {
    color: rgb(24, 24, 92);
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: double;
    border-radius: 10px;
    width: 500px;
    height: 110px;
    text-align: center;
    overflow: auto;
}

.liste {
    color:darkslateblue;
    font-style: italic;
}

.int_form {
    font-weight: 900;
    text-decoration: underline;
}

body {
    margin: 0;
    background-color: rgb(231, 183, 150);
    text-align: center;
    margin: 100px;
}

.pied_acu {
    background-color: rgb(180, 176, 176);
    border: dotted;
    border-radius: 20px;
    box-shadow: 6px 6px 0px rgba(0, 0,0);
    text-align: center;
    margin: 50px;
    padding: 20px;

}

.pied_acu:hover {
    color: brown;
}

a:visited {
    color: none;
}

.cont_patho {
    height: 150px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid;
    padding: 20px;
    text-align: center;
}

